body {
 background: linear-gradient( rgba(103, 45, 131, 1) 0%,
 rgba(157, 85, 146, 1) 35%,  rgba(224, 40, 118, 1) 90%,
 rgba(0, 212, 255, 1) 100%);
}

p{
  margin: 0;
  text-align: center;
}

header {
  height: 200px;
  background-color: rgb(79, 196, 196);
  text-align: center;
  padding: 5px;
}

.navBar {
  height: fit-content;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: ease-in;
  background: linear-gradient(
    53deg,
    rgba(103, 45, 131, 1) 0%,
    rgba(157, 85, 146, 1) 35%,
    rgba(224, 40, 118, 1) 95%,
    rgba(0, 212, 255, 1) 100%
    );
}

.navBar:hover{
    
}

#headerLogo {
  padding-left: 5px;
}

nav {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  align-items: center;
  float: right;
}


nav a {
  display: flex;
  /* width:auto; */
  height: 70px;
  align-items: center;
  padding: 15px 20px;
  margin: 10px;
  font-size: 20px;
  border-radius: 20%;
  color: aliceblue;
  font-family: IM Fell English;
  /* border: 1px solid red; */
}

nav a:hover {
  transition: 1s;
  font-size: 22px;
  width: max-content;
  align-items: right;
  background: linear-gradient(
    53deg,
    rgba(103, 45, 131, 1) 0%,
    rgba(157, 85, 146, 1) 35%,
    rgba(224, 40, 118, 1) 90%,
    rgba(0, 212, 255, 1) 100%
  );
}
/* Middle images */

.heroImage{
  display: flex;
  margin: 15px;
  justify-content:space-evenly;
  flex-direction: row;
  width: 100%;
  height: 500px;
  min-height: 0;
  min-width: 0;
}

.bannerImage{
display: flex;
justify-content: center;
}

.bannerGif{
display: flex;
justify-content: center;
flex-wrap: wrap;
align-items: center;
flex-direction: column;
padding: 5px;
}

/* Location Design */

.locationBanner{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(128, 128, 128, 0.561);
}

.location{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  min-width: 150px;
  width: fit-content;
  height: fit-content;
  margin: 1rem;
  background-color: rgba(114, 114, 114, 0.495);
}

.googleMap{
margin: 10px;
display: flex;
justify-content:space-evenly;
background: linear-gradient(45deg, rgb(244, 194, 194), rgb(211, 125, 125));
}


.mapText{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  margin: 15px;
  
  padding: 10px;

}
.cookieImg{
border: 2px solid peru;
}

/* Contact Banner */

.contactBanner{
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background-color: rgba(111, 110, 110, 0.819);
  /* margin: 1rem; */
  padding: 1rem;
  font-weight: 800;
}

.contactUs{
  margin: 0;
}


