/* Sales Style Sheet */

/* Fonts */
/* font-family: 'Cinzel', serif;
font-family: 'Comic Neue', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'IM Fell English', serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Serif Oriya', serif;
font-family: 'Roboto', sans-serif; */

body {
  background: linear-gradient(
    rgba(103, 45, 131, 1) 0%,
    rgba(157, 85, 146, 1) 35%,
    rgba(224, 40, 118, 1) 100%
  );
  font-family: "Noto Serif Oriya", serif, sans-serif, "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-weight: 100px;
}

h2 {
  text-align: center;
}

/* Nav Bar */
header {
  height: 200px;
  background-color: rgb(79, 196, 196);
  text-align: center;
  padding: 5px;
}

.navBar {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: ease-in;
  background: linear-gradient(
    53deg,
    rgba(103, 45, 131, 1) 0%,
    rgba(157, 85, 146, 1) 35%,
    rgba(224, 40, 118, 1) 95%,
    rgba(0, 212, 255, 1) 100%
  );
}

nav {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  align-items: center;
  float: right;
}
a {
  display: flex;
  /* width:auto; */
  height: 70px;
  align-items: center;
  padding: 15px 20px;
  margin: 10px;
  font-size: 20px;
  border-radius: 20%;
  color: aliceblue;
  font-family: "Noto Sans", sans-serif, "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}
a:hover {
  transition: 1s;
  font-size: 22px;
  width: max-content;
  align-items: right;
  background: linear-gradient(
    53deg,
    rgba(103, 45, 131, 1) 0%,
    rgba(157, 85, 146, 1) 35%,
    rgba(224, 40, 118, 1) 90%,
    rgba(0, 212, 255, 1) 100%
  );
}

/* Button Information */
#button {
  width: 6em;
  border: 2px solid green;
  background: rgb(186, 112, 38);
}

#homeButton {
  padding: 1rem;
}

/* Table  */
#cookieLocations {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

table {
  border-spacing: 0px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

table,
th,
td {
  border: 0.5px solid black;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

table td:hover {
  font-weight: bolder;
}

thead th {
  background-color: #79558f;
  font-family: "Roboto", sans-serif;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
  font-family: "Noto Sans", sans-serif;
}
tbody td {
  position: relative;
}

tbody td:hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -2;
}

td,th {
  padding: 1rem;
}

.addStore {
  display: flex;
  flex-direction: column;
  align-items: center;
}

tfoot {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  color: black;
}

tfoot tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
  font-family: "Noto Sans", sans-serif;
}

tfoot td {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  content: "\e8b9";
}

tfoot td {
  position: relative;
}

tfoot td:hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

/* Form */
form {
  background-color: #79558f;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: auto; /* Centers it */
  margin-top: 1rem;
  border: 1px solid brown;
  padding: 1rem;
  box-shadow: inset;
}

input {
  border-radius: 25px;
  text-align: center;
}

input:focus {
  border: 2px solid #5271ff;
}

/* Submission */
.submission {
  display: flex;
}
img {
  float: left;
  margin-right: 1rem;
}

button {
  background-color: #5271ff;
}
