body {
  background: linear-gradient( rgba(103, 45, 131, 1) 0%,
  rgba(157, 85, 146, 1) 35%,  rgba(224, 40, 118, 1) 100%);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100px;
 }

 h2{
  text-align: center;
 }

 header {
  height: 200px;
  background-color: rgb(79, 196, 196);
  text-align: center;
  padding: 5px;
}

/* Nav Bar */
.navBar {
  height: fit-content;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: ease-in;
  background: linear-gradient(
    53deg,
    rgba(103, 45, 131, 1) 0%,
    rgba(157, 85, 146, 1) 35%,
    rgba(224, 40, 118, 1) 95%,
    rgba(0, 212, 255, 1) 100%
    );
}

nav {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  align-items: center;
  float: right;
}
a {
  display: flex;
  /* width:auto; */
  height: 70px;
  align-items: center;
  padding: 15px 20px;
  margin: 10px;
  font-size: 20px;
  border-radius: 20%;
  color: aliceblue;
  font-family: IM Fell English;
  /* border: 1px solid red; */
}
a:hover {
  transition: 1s;
  font-size: 22px;
  width: max-content;
  align-items: right;
  background: linear-gradient(
    53deg,
    rgba(103, 45, 131, 1) 0%,
    rgba(157, 85, 146, 1) 35%,
    rgba(224, 40, 118, 1) 90%,
    rgba(0, 212, 255, 1) 100%
  );
}

/* Button Information */
#button {
  width: 6em;
  border: 2px solid green;
  background: rgb(186, 112, 38);
}

#homeButton{
  padding: 1rem;
}

/* Table  */
#cookieLocations{
  display: flex;
  flex-direction: column;
  padding: 5px;
  
}

table{
  border-spacing: 0px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

table, th, td {
  border: 0.5px solid black;
  background-color: rgba(255,255,255,0.2);
	color: #fff;
}
thead th{
  background-color: #79558f;
}

tbody tr:hover{
  background-color: rgba(255,255,255,0.3);
}
tbody td{
  position: relative;
}
tbody td:hover::before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255,255,255,0.2);
  z-index: -1;
}

td, th{
  padding: 1rem;
}
.addStore{
  display: flex;
  flex-direction: column;
}

/* Form */
form{
 background-color: #79558f;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: auto;/* Centers it */
  margin-top: 1rem;
  border: 1px solid brown;
  padding: 1rem;
}

/* Submission */
.submission{
  display: flex;
}
img{
  float: left;
  margin-right: 1rem;
}