body{
  background-color: rgb(244, 194, 194);
}

#button {
  width: 6em;
  border: 2px solid green;
  background: rgb(186, 112, 38);

}

#cookieLocations{
  background-color: antiquewhite;
}

#homeButton{
  padding: 1rem;
}
a {
  display: block;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  float: left;
}
a:hover {
  color: red;
  background: rgb(180, 113, 113);
}